@import "~bootstrap/scss/bootstrap";
@import "partials/variables";
$fa-font-path: "~fontawesome/webfonts";
@import "~fontawesome/scss/fontawesome";
@import "~fontawesome/scss/brands";
@import "~fontawesome/scss/regular";
@import "~fontawesome/scss/solid";

.button-red {
    background-color: $primaryColor;
}

.text-color {
    color: $primaryColor !important;
}

.apartment-card {
    background-color: #f7f7f7;
}

ul.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.list li {
    padding: 10px;
    background-color: white;
    border-bottom: 1px solid #d3d3d3;
    cursor: pointer;
}
ul.list li:first-child {
    border-radius: 0.375rem 0.375rem 0 0;
}

ul.list li:last-child {
    border-bottom: 0px;
    border-radius: 0 0 0.375rem 0.375rem;
}

ul.list li:hover {
    background-color: #f7f7f7;
}
