@import "~bootstrap/scss/bootstrap";
@import "partials/variables";
@import "partials/messages";
$fa-font-path: "~fontawesome/webfonts";
@import "~fontawesome/scss/fontawesome";
@import "~fontawesome/scss/brands";
@import "~fontawesome/scss/regular";
@import "~fontawesome/scss/solid";

.button-red {
    background-color: $primaryColor;

    &:hover {
        background-color: #de1361 !important;
    }
}

.button-black {
    background-color: #222;
    border: 1px solid #222;

    &:hover {
        background-color: black !important;
    }
}

.text-color {
    color: $primaryColor !important;
}

.apartment-card {
    background-color: #f7f7f7;
}

.apartment-img {
    object-fit: cover;
}

ul.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.list li {
    padding: 10px;
    background-color: white;
    border-bottom: 1px solid #d3d3d3;
    cursor: pointer;
}

ul.list li:first-child {
    border-radius: 0.375rem 0.375rem 0 0;
}

ul.list li:last-child {
    border-bottom: 0px;
    border-radius: 0 0 0.375rem 0.375rem;
}

ul.list li:hover {
    background-color: #f7f7f7;
}

.form-check-input:checked {
    background-color: #ff385c !important;
    border: 0;
}

.form-check-input:focus,
.label::after,
label.form-check-label:focus,
.form-check-input::after,
.form-check-input:not(:disabled):not(.disabled):active {
    color: black !important;
    outline: 0;
    border: 1;
    box-shadow: 0 0 0 0.1rem #ffa6b600 !important;
}

.form-check-input:focus {
    color: #ff385c !important;
}

.form-check-input:focus-visible {
    color: #ff385c !important;
}

.my-button-categories {
    background-color: transparent !important;
}

.my-button-categories:hover {
    cursor: pointer;
    border: 2px solid black !important;
}

.my-show-button:hover {
    background-color: #f7f7f7 !important;
}

.my-radio-label {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-radio {
    display: none;
}

.selected-category {
    background-color: #f7f7f7 !important;
    border: 2px solid black !important;
}

@keyframes scale-up {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.animate-scale {
    animation: scale-up 0.3s;
}

.visible-banner {
    position: absolute;
    bottom: 16px;
    left: 16px;
}

.my-visible-pill {
    background-color: #f7f7f7a4;
    user-select: none;
}

#visible:not(:checked) {
    background-color: white;
    /* Colore di sfondo nero per lo switch non selezionato */
    border: 1px solid black;
}

/* Aggiustamenti per la maniglia dello switch */
#visible:not(:checked) + .form-check-label::before {
    background-color: white;
    /* Colore della maniglia dello switch non selezionato */
    border: 1px solid black;
}

/* Aggiustamenti per la maniglia dello switch quando è selezionato */
#visible:checked + .form-check-label::before {
    background-color: white;
    /* Colore della maniglia dello switch selezionato */
}

.button-nav {
    margin-top: 20px;
    padding-top: 20px;

    .pagination-container {
        display: flex;
        column-gap: 10px;
    }

    .paginate-buttons {
        height: 40px;
        width: 40px;
        border-radius: 20px;
        cursor: pointer;
        background-color: transparent;
        border: 1px solid rgb(255, 255, 255);
        color: rgb(0, 0, 0);
    }

    .paginate-buttons:hover {
        background-color: #f7f7f7;
    }

    .active-page {
        background-color: black;
        border: 1px solid black;
        color: white;
        pointer-events: none;
    }

    .active-page:hover {
        background-color: black;
    }
}

.sponsored-start:hover {
    background-color: #222 !important;
    border: 2px solid #222 !important;
    color: white !important;
    transition: 0.2s ease;
}

.sponsored-start:not(:hover) {
    transition: 0.2s ease;
}

.sponsored-start:hover .cover-img {
    filter: invert(1);
    transition: 0.2s ease;
}

/**************** set Scroll bar style  *************/
/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ccc; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #999; 
}
