.messages-column {
    .messages-list {
        .message {
            background-color: transparent;

            .message-text {
                color: #6a6a6a;
                font-weight: 300;
                font-size: 14px;

                &.small {
                    font-size: 12px;
                }
            }

            &.selected {
                background-color: #f7f7f7;
            }
        }
    }
}

.message-details {
    .header {
        border-bottom: 1px solid #eeeeee;
    }

    .apartment-info {
        font-size: 14px;
    }

    .message-date {
        font-size: 12px;
        font-weight: 600;
    }

    #message-detail-content {
        background-color: #222;
    }
}
